aria2
numba
numpy
scipy
librosa
fairseq
faiss-cpu
gradio==3.34.0
pydub
soundfile
ffmpeg-python
tensorboardX
json5
Markdown
praat-parselmouth
tensorboard
tqdm
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
torchcrepe==0.0.20
fastapi==0.88
torchfcpe
ffmpy==0.3.1
python-dotenv>=1.0.0
av