# Core Libraries
numpy
scipy
numba

# Audio Processing
librosa
pydub
soundfile
praat-parselmouth
pyworld
torchcrepe==0.0.23

# Machine Learning and Frameworks
fairseq
faiss-cpu
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
tensorboard
tensorboardX
torchfcpe

# Model Deployment and API
gradio==3.34.0
fastapi

# Media and File Handling
aria2
ffmpeg-python
ffmpy
av
yt-dlp
audio-separator[gpu]==0.28.5

# Utilities and Extras
tqdm
python-dotenv
