aria2
numba
numpy
scipy
librosa
fairseq
faiss-cpu
gradio==3.34.0
pydub
soundfile
ffmpeg-python
tensorboardX
json5
Markdown
praat-parselmouth
tensorboard
tqdm
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
torchcrepe==0.0.20
fastapi
torchfcpe
ffmpy
python-dotenv
av
pyworld
yt-dlp
audio-separator[gpu]





